<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Web3</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css" />
</head>
<body>
    <main class="lg:container lg:mx-auto mt-16 flex justify-center">
        <div class="w-max px-3 mb-6 md:mb-0 mr-48 w-3/12">
            <form action="/register" method="post" class="">
                <h2>Register</h2>
                {% with messages = get_flashed_messages(category_filter=['register']) %}
                    {% if messages %}
                    <div class="alert" role="alert">
                        <strong>Something went wrong!</strong>
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <div class="mb-6">
                    <label for="username" class="block mb-2 text-sm font-medium text-black">User name</label>
                    <input type="text" id="username" name="username" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" placeholder="Uzumaki7" required="" />
                </div>
                <div class="mb-6">
                    <label for="email" class="block mb-2 text-sm font-medium text-black">Your email</label>
                    <input type="email" id="email" name="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" placeholder="naruto@konohagakure.com" required="">
                </div>
                <div class="mb-6">
                    <label for="password" class="block mb-2 text-sm font-medium text-black">Your password</label>
                    <input type="password" id="password" name="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" required="">
                </div>
                <div class="mb-6">
                    <label for="confirm" class="block mb-2 text-sm font-medium text-black">Repeat password</label>
                    <input type="password" id="confirm" name="confirm" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" required="">
                </div>
                <button type="submit" value="Register" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Register new account</button>
            </form>
        </div>
        <div class="w-max px-3 mb-6 md:mb-0 w-3/12">
            <form action="/login" method="post" class="">
                <h2>Login</h2>
                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                    <div class="" role="alert">
                        <strong>Something went wrong!</strong>
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <div class="mb-6">
                    <label for="email" class="block mb-2 text-sm font-medium text-black ">Your email</label>
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" placeholder="naruto@konohagakure.com" required="">
                    </div>
                    <div class="mb-6">
                        <label for="password" class="block mb-2 text-sm font-medium text-black">Your password</label>
                        <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" required="">
                    </div>
                    <button type="submit" value="login" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>


