<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Web3</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main class="admin-content">
        <div class="div-create-content">
            <form action="/create/resource" method="post" class="">
                <h3>Create a Resource</h3>
                {% with messages = get_flashed_messages(category_filter=['resources']) %}
                    {% if messages %}
                    <div class="" role="alert">
                        <strong>Something went wrong!</strong>
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <div class="">
                    <div class="">
                        <div class="form-group">
                            <label for="resource-type">Resource Type:</label>
                            <select name="resource-type" class="form-control">
                                <option value="podcast">Podcast</option>
                                <option value="newsletter">Newsletter</option>
                                <option value="discord">Discord</option>
                                <option value="twitter">Twitter</option>
                                <option value="dev">Dev</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Resource Name:</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input type="text" name="description" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="tags">Tags</label>
                                <input type="checkbox" name="tags" class="form-control" value="Web3">Web3
                                <input type="checkbox" name="tags" class="form-control" value="Interviews">Interviews
                                <input type="checkbox" name="tags" class="form-control" value="NFT">NFT
                                <input type="checkbox" name="tags" class="form-control" value="Smart Contract">Smart Contract
                                <input type="checkbox" name="tags" class="form-control" value="Blockchain">Blockchain
                                <input type="checkbox" name="tags" class="form-control" value="Crypto">Crypto
                                <input type="checkbox" name="tags" class="form-control" value="Metaverse">Metaverse
                        </div>
                        <div class="form-group">
                            <label for="link">Link:</label>
                            <input type="text" name="link" class="form-control">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="suggested-resources">
            <h4>Suggested Resources</h4>
            <table class="">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Link</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for suggestion in suggestions %}
                    <tr>
                        <td>{{sugesstions.type}}</td>
                        <td>{{suggestions.name}}</td>
                        <td>{{suggestions.link}}</td>
                        <td>
                            <a href="/destroy/suggestions/{{suggestions.id}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </main>
</body>
</html>