<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Web3</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main class="container">
        <div class="login-container">
            <form action="/register" method="POST" class="">
                <h2>Register</h2>
                {% with messages = get_flashed_messages(category_filter=['register']) %}
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Something went wrong!</strong>
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="confirm">Confirm Password:</label>
                    <input type="password" name="confirm" class="form-control" placeholder="Confirm Password">
                </div>
                <input type="submit" value="Register" class="btn btn-primary">
            </form>
            <form action="/login" method="post" class="">
                <h2>Login</h2>
                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                    <div class="" role="alert">
                        <strong>Something went wrong!</strong>
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <input type="submit" value="Login" class="btn btn-success">
            </form>
        </div>
    </main>
</body>
</html>