<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Web3</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <h1 id="site-title">Learn Web3</h1>
        <nav id="navigation">
            <p>Find a Resources</p>
            <p>Suggest a Resource</p>
        </nav>
    </header>
    <main class="lg:container lg:mx-auto">
        <div class="grid-cols-3" id="main-content">
            <div>
                <img src= {{ url_for('static', filename = 'images/img_podcasts.png') }} alt="podcasts" class="resource-cover">
            </div>
            <div>
                <img src= {{ url_for('static', filename = 'images/img_newsletters.png') }} alt="newsletters" class="resource-cover">
            </div>
            <div>
                <img src= {{ url_for('static', filename = 'images/img_discord.png') }} alt="discord" class="resource-cover">
            </div>
            <div>
                <img src= {{ url_for('static', filename = 'images/img_twitter.png') }} alt="twitter" class="resource-cover">
            </div>
                <img src= {{ url_for('static', filename = 'images/img_dev.png') }} alt="dev" class="resource-cover">
            </div>
        </div>
    </main>
</body>
</html>