<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Web3</title>
</head>
<body>
    <header class="header">
        <h1 id="site-title">Learn Web3</h1>
        <nav id="navigation">
            <p>Find a Resources</p>
            <p>Suggest a Resource</p>
        </nav>
    </header>
    <body class="container">
        <div id="main-content">
            <div>Podcasts</div>
            <div>Newsletters</div>
            <div>Discords</div>
            <div>Twitter Accounts</div>
            <div>For Developers</div>
        </div>
    </body>
</body>
</html>