<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Web3</title>
</head>
<body>
    <header></header>
    <body class="container">
        <div class="main-content">
            <div class="content-block">
                {% if resource.type == newsletter %}
                <h2 class="resource-title">{{resource.name}}</h2>
                <p class="card-text">{{resource.description}}</p>
                <p class="card-text">{{resource.tags}}</p>
                <p class="card-text">{{resource.link}}</p>
                {% endif %}
            </div>
        </div>
    </body>
</body>
</html>