<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Web3</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.5/dist/flowbite.min.css" />
</head>
<body>
    <header class="bg-gray-600 px-3 py-1">
        <span class="lg:container lg:mx-auto flex justify-between">
            <h1 class="font-bold text-white m-0 lg:text-3xl">Learn Web3</h1>
            <nav class="flex font-light text-white m-0">
                <div class="max-w-2xl mx-auto mr-8">
                    <button class="items-center inline-flex block font-semibold rounded mr-8 px-4 py-2 items-center bg-gray-300 text-gray-700" type="button">
                        <a href="/">Home</a>
                    </button>
                </div>
                <div class="mr-8">
                    <div class="dropdown inline-block relative">
                        <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="text-gray-700 bg-gray-300 font-semibold rounded-lg text-sm mr-8 px-4 py-2.5 text-center inline-flex items-center" type="button">Find a Resource<svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
                        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(128px, 102px);" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top">
                            <ul class="py-1 text-sm text-gray-700 dark:text-gray-700 pt-1" aria-labelledby="dropdownDefault">
                                <li><a href="/podcasts" class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">Podcasts</a></li>
                                <li><a href="/newsletters" class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">Newsletters</a></li>
                                <li><a href="/discords" class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">Discords</a></li>
                                <li><a href="/twitters" class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">Twitters</a></li>
                                <li><a href="/dev" class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">4Devs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="max-w-2xl mx-auto">
                    <button class="items-center inline-flex block font-semibold rounded px-4 py-2 items-center bg-gray-300 text-gray-700 " type="button" data-modal-toggle="authentication-modal">
                        Suggest a Resource
                    </button>
                    <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
                        <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </button>
                                <div class="py-6 px-6 lg:px-8">
                                    <h3 class="mb-4 text-xl font-medium text-black">Suggest a resource for others</h3>
                                    <form class="space-y-6" action="/create/suggestion" method="post">
                                        <div>
                                            <label for="title" class="block mb-2 text-sm font-medium text-black">What is the resource?</label>
                                            <input type="text" name="title" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Web3 Talks" required="">
                                        </div>
                                        <div>
                                            <label for="link" class="block mb-2 text-sm font-medium text-black">Link to the resource</label>
                                            <input type="link" name="link" id="link" placeholder="www.somepodcast.com" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required="">
                                        </div>
                                        <div>
                                            <label for="resource-type" class="block mb-2 text-sm font-medium text-black">
                                                Resource Type:
                                            </label>
                                            <div class="relative">
                                                <select name="type" name="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" id="resource-type">
                                                    <option>Podcast</option>
                                                    <option>Newsletter</option>
                                                    <option>Discord</option>
                                                    <option>Twitter</option>
                                                    <option>Dev</option>
                                                </select>
                                            </div>
                                        </div>
                                            <button type="submit" value="" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                Submit Your Suggestion
                                            </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </span>
    </header>
    <main class="lg:container lg:mx-auto mt-16 flex justify-center">
        <div class="w-full md:w-1/2 px-3 border-2 border-black rounded">
            <h3>Web3 Podcasts</h3>
            <div class="flex flex-col">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="overflow-hidden">
                            <table class="min-w-full">
                                <thead class="bg-white border-b">
                                    <tr>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                        Name
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                        Description
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                        Link
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                        Tags
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for resource in resources %}
                                    {% if resource.type == 'Podcast' %}
                                        <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                {{resource.name}}
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-4">
                                                {{resource.description}}
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                <a href="https://{{resource.link}}">Link</a>
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                {{resource.tags}}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>
</body>
</html>